<div class="container pt-5">
    <div class="w-75 m-auto pt-5">
        <div class="form-floating my-5">
            <input [(ngModel)]="terms" type="text" class="form-control bg-transparent text-white" id="floatingInput" placeholder="Search">
            <label for="floatingInput">Search</label>
        </div>
    </div>

    <div class="row pt-5">

        <div class="d-flex align-items-center justify-content-center my-5" *ngIf="(trendingPeople|search:terms).length==0">
            <h2>
                NO Match
            </h2>
        </div>

        <div *ngFor="let people of trendingPeople|search:terms" class="col-md-2">
            <div class="movies position-relative">
                <a [routerLink]="['/moviedetails',people.id,people.media_type]"><img class="img-fluid"
                        [src]="imgPrefx+people.poster_path" [alt]="people.title"></a>
                <h2 class="h6 my-3">{{people.name?people.name:people.title}}</h2>
                <div class="vote text-white fw-bolder position-absolute top-0 end-0 p-2">
                    {{people.vote_average}}
                </div>
            </div>
        </div>
    </div>
</div>