<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#0d6efd" type = "ball-clip-rotate-multiple" [fullScreen] = "true"></ngx-spinner>
<div class="container py-5">
    <div class="w-75 m-auto pt-5">
        <form [formGroup]="searchForm" class="form-floating my-3">
            <input (keyup)="search(searchForm)" formControlName="term" type="text" class="form-control bg-transparent text-primary border-primary" id="floatingInput" placeholder="Search">
            <label class="text-primary" for="floatingInput">Search</label>
          </form>
    </div>
    
    <div class="row pt-5">

        <div class="d-flex align-items-center justify-content-center my-5" *ngIf="(trendingTv|search:terms).length==0">
            <h2>
                NO Match
            </h2>
        </div>

        <div *ngFor="let tv of trendingTv|search:terms" class="col-md-2">
            <div class="movies position-relative">
                <a [routerLink]="['/moviedetails',tv.id,tv.media_type]"><img class="img-fluid"
                        [src]="imgPrefx+tv.poster_path" [alt]="tv.title"></a>
                <h2 class="h6 my-3">{{tv.name}}</h2>
                <div class="vote text-primary fw-bolder position-absolute top-0 end-0 p-2">
                    {{tv.vote_average}}
                </div>
            </div>
        </div>
    </div>
</div>