<div class="container pt-5">
    <div class="w-75 m-auto pt-5">
        <div class="form-floating my-5">
            <input [(ngModel)]="terms" type="text" class="form-control bg-transparent text-white" id="floatingInput" placeholder="Search">
            <label for="floatingInput">Search</label>
        </div>
    </div>
    
    <div class="row py-5">

        <div class="d-flex align-items-center justify-content-center my-5" *ngIf="(trendingTv|search:terms).length==0">
            <h2>
                NO Match
            </h2>
        </div>

        <div *ngFor="let tv of trendingTv|search:terms" class="col-md-2">
            <div class="movies position-relative">
                <a [routerLink]="['/moviedetails',tv.id,tv.media_type]"><img class="img-fluid"
                        [src]="imgPrefx+tv.poster_path" [alt]="tv.title"></a>
                <h2 class="h6 my-3">{{tv.name}}</h2>
                <div class="vote text-white fw-bolder position-absolute top-0 end-0 p-2">
                    {{tv.vote_average}}
                </div>
            </div>
        </div>
    </div>
</div>